<div>
  <%= link_to 'Home', root_path %>
</div>
<p>(<%= @user.name%> profile picture)</p>
<h2>User name: <%=  @user.name %></h2>
<h3>Total posts: <%= @total_posts %></h3>
<% @posts.each  do | post |%>
  <h3>Post id: <%= post.id %></h3>
  <h4><%= post.title %></h4>
  <p><%= post.text %></p>
  <h3>Comments</h3>
  <% post.five_most_recent_comments.each do |comment| %>
    <p><%= comment.text %></p>
    <p>Comment author: <%= comment.author.name %></p>
  <% end %>
  <% if post.five_most_recent_comments.length < 1  %>
    <p id="comments_post_<%= post.id %>">Number of comments: 0</p>
  <% else %>
    <p id="comments_post_<%= post.id %>">Number of comments: <%= post.comments.count %></p>
  <% end  %>
  <% if post.comments.count > 5 %>
    <p>Comment pagination<p>
  <% end %>
  <p id="likes_post_<%= post.id %>">Number of likes: <%= post.likes_counter %> </p>
  <%= link_to 'Post detail', "/users/#{@user.id}/posts/#{post.id}" %>
<% end %>