<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogMicroverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <p>Welcome, <%= current_user.name %></p>
      <%= button_to "logout", destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to 'Create new user', new_user_registration_path %>
      <%= link_to 'I forgot my password', new_user_password_path %>

    <% end %>
    <%= yield %>
  </body>
</html>
